@{

    ViewBag.Title = "_LoginPartial";
    var u = Session["UserProfile"] as GrmAdmin.Models.User;
}
@if (u!=null)
{
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/Home/AddRecipe">Add Recipe</a>
            </li>
            <li>
                <a href="/Home/AddIngredient">Add Ingredient</a>
            </li>
            <li>
                <a href="/Home/Ingredient">View Ingredients</a>
            </li>
            <li>
                <a href="/Home/Dashboard">View Recipes</a>
            </li>
            <li>
                <a href="/Account/Logout">Logout</a>
            </li>
           
        </ul>
    }
else
{
<ul class="nav navbar-nav navbar-right">

    <li>@Html.ActionLink("Register", "Register", "Account")</li>
    <li>@Html.ActionLink("Log in", "Login", "Account")</li>
</ul>
}
